.cart {
  padding: 20px;
}

.total-amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.total {
  font-weight: bold;
  color: #252728;
}

.empty {
  font-size: 1.5em;
  color: #252728;
  text-align: center;
  margin-bottom: 20px;
}

.meals-list {
  max-height: 50vh;
  overflow-y: scroll;
}
