/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #1f2223;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
